{{- $highlightColor := .Site.Params.highlightColor | default "#e22d30" -}}

img {
	width: auto\9; /* ie8 */
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


img[src$='#center']
{
    display: block;
    margin: 1rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 1rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 1rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
.
.divider {
	height: 5px;
	margin: 0;
	background: #6523;
	border: 20;
}


.menu__link:hover {
	color: #fff;
}

/* Main menu */
.no-js .menu__btn {
	display: none;
}

.menu__btn {
	display: block;
	width: 100%;
	padding: 0;
	font: inherit;
	color: #fff;
	background: #2a2a2a;
	border: 0;
	outline: 0;
}

.menu__btn-title {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

:focus > .menu__btn-title {
	box-shadow: inset 0 0 1px 3px {{ $highlightColor }};
}

button:not(:-moz-focusring):focus > .menu__btn-title {
	box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
	outline: 0;
}

.js .menu__btn--active {
	color: {{ $highlightColor }};
}

.menu__list {
	list-style: none;
	background: #f3f3f3;
}

.menu__item:hover {
	background: {{ $highlightColor }};
}

.menu__item:first-child {
	border: 0;
}

.menu__item--active {
	background: {{ $highlightColor }};
}

.menu__item--active a{
	color: #fff;
}

.menu__link {
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	color: #737678;
	text-transform: uppercase;
}

.menu__link:hover {
	color: #fff;
}

.js .menu__list {
	position: absolute;
	z-index: 1;
	width: 100%;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.js .menu__list--active {
	visibility: visible;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.menu__list--transition {
	transition: visibility .15s ease, transform .15s ease, -webkit-transform .15s ease;
}

@media screen and (min-width: 767px) {
	.menu {
		border-bottom: 5px solid {{ $highlightColor }};
	}

	.menu__btn {
		display: none;
	}

	.menu__list,
	.js .menu__list {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		visibility: visible;
		border: 0;
		-webkit-transform: none;
		transform: none;
	}

	.menu__item {
		border-left: 1px solid rgba(255, 255, 255, .1);
	}
}